# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build output
/.next/
/out/
/.vercel
/coverage
*.tsbuildinfo

# Production build artifacts
/build
/dist

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local environment files (Secrets)
.env*.local
.env
!.env.example

# Temporary media & download cache
/temp/
/downloads/
/bin/
*.exe
*.mp3
*.mp4
*.webm

# OS files
.DS_Store
*.pem
Thumbs.db

# IDE & Editor configuration
.idea/
.obsidian/
*.swp
*.swo
